HELP.md

/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea/
*.iws
*.iml
*.ipr
out/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

*.log
logs/

*.tmp
*.swp
*.out
*~

*.class
*.jar
*.war
*.ear

*.pid

jacoco.exec

*.h2.db
*.mv.db
*.trace.db

.env
.env.*
